@page
@model AzureFireworks.Pages.PrimeModel
@{
    ViewData["Title"] = "Prime";
}

<div class="jumbotron">
    <h1 class="display-4">Hello, @Model.Audience dev community! Version: 1</h1>
    <p class="lead">You now what? @Model.Prime is a prime number. </p>
    <hr class="my-4">
    <p>...kind of god to know.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://en.wikipedia.org/wiki/List_of_prime_numbers#:~:text=The%20first%201000%20prime%20numbers%20%20%20,%20%20311%20%2016%20more%20rows%20" role="button">Learn more</a>
    </p>
</div>